<!DOCTYPE html>
<html>
<head>
    <title>Steganography Web App</title>

    <!--Link CS-->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <h1 class="main-title">Steganography Web App</h1>

    <div class="container">

        <!--Encode Section-->
        <div class="card">
            <h2>Encode Message</h2>
            <form action="/encode" method="POST" enctype="multipart/form-data">
                <label class="file-upload">
                    Choose Image
                    <input type="file" name="image" accept="image/*" onchange="previewEncode(event)" required>
                </label>
                <span class="file-name">No file chosen</span>  
                <img id="encodePreview" class="preview"/>
                <input type="text" name="message" placeholder="Enter secret message" required>
                <button type="submit">Encode & Download</button>
            </form>
        </div>

        <!--Decode section-->
        <div class="card">
            <h2>Decode Message</h2>
            <form action="/decode" method="POST" enctype="multipart/form-data">
                <label class="file-upload">
                    Choose Image
                    <input type="file" name="image" accept="image/*" onchange="previewDecode(event)" required>
                </label>
                <span class="file-name">No file chosen</span>        
                <img id="decodePreview" class="preview"/>
                <button type="submit">Decode Message</button>
            </form>
        </div>

        <!--Detect section-->
        <div class="card">
            <h2>Detect Hidden Data</h2>
            <form action="/detect" method="POST" enctype="multipart/form-data">
                <label class="file-upload">
                    Choose Image
                    <input type="file" name="image" accept="image/*" onchange="previewDetect(event)" required>
                </label>
                <span class="file-name">No file chosen</span>
                <img id="detectPreview" class="preview"/>
                <button type="submit">Detect Steganography</button>
            </form>
        </div>
    </div>

    {% if decoded_message %}
        <div class="result">
            <h3>Decoded Message:</h3>
            <p>{{decoded_message }}</p>
        </div>
    {% endif %}

    {% if final_result %}
        <div class="result">
            <h3>Detection Results:</h3>
            <p><b>LSB Analysis:</b> {{ lsb_result }}</p>
            <p><b>Histogram Analysis:</b> {{ hist_result }}</p>
            <p><b>Final Verdict:</b> {{ final_result }}</p>
            <p><b>Confidence Score:</b> {{ confidence }}%</p>
        </div>
    {% endif %}

    <!--Link JS-->
    <script src="{{url_for('static', filename='script.js')}}"></script>

</body>
</html>

